/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 07/09/2018 21:53:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Administrator')
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 07/09/2018 21:53:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VisitorOnlines]    Script Date: 07/09/2018 21:53:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitorOnlines](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Online] [int] NOT NULL,
 CONSTRAINT [PK_dbo.VisitorOnlines] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[VisitorOnlines] ON
INSERT [dbo].[VisitorOnlines] ([ID], [Date], [Online]) VALUES (1, CAST(0x0000A61600000000 AS DateTime), 1)
INSERT [dbo].[VisitorOnlines] ([ID], [Date], [Online]) VALUES (2, CAST(0x0000A61B00000000 AS DateTime), 12)
INSERT [dbo].[VisitorOnlines] ([ID], [Date], [Online]) VALUES (3, CAST(0x0000A64200000000 AS DateTime), 4)
SET IDENTITY_INSERT [dbo].[VisitorOnlines] OFF
/****** Object:  Table [dbo].[Products]    Script Date: 07/09/2018 21:53:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[PostDate] [datetime] NOT NULL,
	[Actived] [bit] NOT NULL,
	[EnTitle] [nvarchar](max) NULL,
	[EnDetail] [nvarchar](max) NULL,
	[ViTitle] [nvarchar](max) NULL,
	[ViDetail] [nvarchar](max) NULL,
	[Price] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products] ON
INSERT [dbo].[Products] ([ID], [Image], [PostDate], [Actived], [EnTitle], [EnDetail], [ViTitle], [ViDetail], [Price]) VALUES (1, N'Tra tui loc Moringa_hop.jpg', CAST(0x0000A49800000000 AS DateTime), 1, N'Moringa Tea 2g*20 bags', N'<div>Ingredient: 95 % Moringa, 5 % Lusciuos Flower Seeds</div> <div>Exp: 1 year</div>', N'Trà Moringa 2g*20 túi lọc', N'<div>Th&agrave;nh phần: 95 % Moringa, 5 % Hạt hoa ho&egrave;.</div> <div>Hạn sử dụng: 1 năm</div>', N'45.000 VNĐ')
INSERT [dbo].[Products] ([ID], [Image], [PostDate], [Actived], [EnTitle], [EnDetail], [ViTitle], [ViDetail], [Price]) VALUES (2, N'Tra tui loc Moringa tra xanh_hop.jpg', CAST(0x0000A49700000000 AS DateTime), 1, N'Moringa Green Tea 2g*20 bags', N'<div>Ingredient: 50% Moringa, 50% Green Tea</div> <div>Exp: 1 year</div>	', N'Moringa - Trà xanh 2g*20 túi lọc', N'<div>Th&agrave;nh phần: 50% Moringa, 50 % Tr&agrave; Xanh.</div> <div>Hạn sử dụng: 1 năm</div>', N'45.000 VNĐ')
SET IDENTITY_INSERT [dbo].[Products] OFF
/****** Object:  Table [dbo].[Pages]    Script Date: 07/09/2018 21:53:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EnTitle] [nvarchar](max) NULL,
	[EnDetail] [nvarchar](max) NULL,
	[ViTitle] [nvarchar](max) NULL,
	[ViDetail] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Pages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Pages] ON
SET IDENTITY_INSERT [dbo].[Pages] OFF
/****** Object:  Table [dbo].[News]    Script Date: 07/09/2018 21:53:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PostDate] [datetime] NOT NULL,
	[Actived] [bit] NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[EnTitle] [nvarchar](max) NULL,
	[EnDetail] [nvarchar](max) NULL,
	[ViTitle] [nvarchar](max) NULL,
	[ViDetail] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.News] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[News] ON
INSERT [dbo].[News] ([ID], [PostDate], [Actived], [UserName], [EnTitle], [EnDetail], [ViTitle], [ViDetail]) VALUES (1, CAST(0x0000A48400000000 AS DateTime), 0, N'admin', N'Moringa Processing	', N'', N'Quy trình sản xuất Chùm Ngây', NULL)
SET IDENTITY_INSERT [dbo].[News] OFF
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 07/09/2018 21:53:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [PasswordHash], [SecurityStamp], [Discriminator]) VALUES (N'da6f4a94-c3a6-40f8-b764-5b47c939f42d', N'thy', N'AH+ZNPLUevIZW4TtiwMNkIfOr/4KLr+7gcZYOHf9+MKNoMWZ4bV+USCzOTSYn4YzKw==', N'dbbe7436-54d0-455f-98ec-83488e75d6c6', N'ApplicationUser')
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [PasswordHash], [SecurityStamp], [Discriminator]) VALUES (N'de173754-18bb-4be5-97bc-a4f909fea8ff', N'admin', N'AOJ5uPsk9rnMN8SmiO6gTWL3Lc4gGED8p1EpokX2qe/vOXc4QcAu1J7Yq/Fn/kXCvw==', N'fb0bb952-3766-4584-b70d-1f599e3f3b3a', N'ApplicationUser')
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 07/09/2018 21:53:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'da6f4a94-c3a6-40f8-b764-5b47c939f42d', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'de173754-18bb-4be5-97bc-a4f909fea8ff', N'1')
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 07/09/2018 21:53:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[UserId] [nvarchar](128) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 07/09/2018 21:53:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[User_Id] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_User_Id]    Script Date: 07/09/2018 21:53:54 ******/
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_User_Id]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]    Script Date: 07/09/2018 21:53:54 ******/
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]    Script Date: 07/09/2018 21:53:54 ******/
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]    Script Date: 07/09/2018 21:53:54 ******/
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
