@model ThakyCompany.Models.NewsDto
@*@using ThakyCompany.Language;

    @{string title = "";
    string content = "";
    if (Request.Cookies["language"] != null && Request.Cookies["language"].Value == "vi")
    {
        title = Model.;
        content = Model.ViDetail;
    }
    else
    {
        title = Model.EnTitle;
        content = Model.EnDetail;
    }
    }*@

@{
    ViewBag.Title = Model.Title;
    Layout = "/Views/Shared/_TopLayout.cshtml";
}

<div class="panel panel-default contentMinHeight">
    <div>
        <h3 class="panel-heading panel-title boxtitle">
            @Model.Title
        </h3>
    </div>
    <div class="pagecontent ">

        @Html.Raw(Model.Detail)
    </div>
</div>