@model ThakyCompany.Models.Page
@using ThakyCompany.Language;
@{
    ViewBag.Title = "ThakyCompany";
    Layout = "/Views/Shared/_TopLayout.cshtml";
}
@{string title = "";
string content = "";
if (Request.Cookies["language"] != null && Request.Cookies["language"].Value == "vi")
{
    title = Model.ViTitle;
    content = Model.ViDetail;
}
else
{
    title = Model.EnTitle;
    content = Model.EnDetail;
}
}
<div class="panel panel-default contentMinHeight">
    <div>
        <h3 class="panel-heading panel-title boxtitle">
            @title
        </h3>
    </div>
    <div class="pagecontent ">
        <p>
            @Html.Raw(content)
        </p>
    </div>
</div>