@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        das falsdfkja sdlfkj adlskf aldsfa
        sdf
        adsf ads
        f
        adsfa dsfd
    </div>
</div>