@using ThakyCompany.Language
<div class="panel panel-default">
    <div class="panel-heading boxtitle">
        @*<h3 class="panel-title">@Resource.VisitorOnline</h3>*@
        <h3 class="panel-title">HOT LINE</h3>
    </div>
    <div style="padding:5px;">
        <span style="color:red;">Hotline Mua Hàng: 0937.85.87.88</span><br/>
        <span style="color:red;">Ship hàng toàn quốc.</span>
    </div>
</div>