@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger"></h1>
<h2 class="text-danger">Xin lỗi quý khách, Website chúng tôi có thể đang bảo dưỡng hoặc có vấn đề gì đó. Xin quý khách vui lòng quay lại sau. Hoặc có
    thể liên hệ chúng tôi qua email .... hoặc số điện thoại.... Chúng tôi sẽ liên lạc sớm nhất có thể. 
    </h2>

